In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/kanishkarathnayake/Downloads/Arc Downloads/Iris Missing.csv")

In [3]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           NaN          NaN           NaN          NaN     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.isna().sum()

Sepal.Length     5
Sepal.Width      7
Petal.Length     2
Petal.Width     85
Species          5
dtype: int64

In [6]:
df.drop("Petal.Width", axis = 1, inplace = True)

In [7]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length Species
0           5.1          3.5           1.4  setosa
1           4.9          3.0           1.4  setosa
2           NaN          NaN           NaN     NaN
3           4.6          3.1           1.5  setosa
4           5.0          3.6           1.4  setosa

In [9]:
df.fillna(method = "ffill")

/var/folders/0j/zjlbkspd6r9_5tqwfmbck02h0000gn/T/ipykernel_6043/1983593268.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = "ffill")

     Sepal.Length  Sepal.Width  Petal.Length    Species
0             5.1          3.5           1.4     setosa
1             4.9          3.0           1.4     setosa
2             4.9          3.0           1.4     setosa
3             4.6          3.1           1.5     setosa
4             5.0          3.6           1.4     setosa
..            ...          ...           ...        ...
145           6.7          3.0           5.2  virginica
146           6.3          2.5           5.0  virginica
147           6.5          3.0           5.2  virginica
148           6.2          3.4           5.4  virginica
149           5.9          3.0           5.1  virginica

[150 rows x 4 columns]

In [10]:
df.fillna(method = "bfill")

/var/folders/0j/zjlbkspd6r9_5tqwfmbck02h0000gn/T/ipykernel_6043/3988041702.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = "bfill")

     Sepal.Length  Sepal.Width  Petal.Length    Species
0             5.1          3.5           1.4     setosa
1             4.9          3.0           1.4     setosa
2             4.6          3.1           1.5     setosa
3             4.6          3.1           1.5     setosa
4             5.0          3.6           1.4     setosa
..            ...          ...           ...        ...
145           6.7          3.0           5.2  virginica
146           6.3          2.5           5.0  virginica
147           6.5          3.0           5.2  virginica
148           6.2          3.4           5.4  virginica
149           5.9          3.0           5.1  virginica

[150 rows x 4 columns]

In [16]:
df1 =  df.iloc[:, :3]
df1.head()

   Sepal.Length  Sepal.Width  Petal.Length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           NaN          NaN           NaN
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [17]:
df1.interpolate(method = "linear")

     Sepal.Length  Sepal.Width  Petal.Length
0            5.10         3.50          1.40
1            4.90         3.00          1.40
2            4.75         3.05          1.45
3            4.60         3.10          1.50
4            5.00         3.60          1.40
..            ...          ...           ...
145          6.70         3.00          5.20
146          6.30         2.50          5.00
147          6.50         3.00          5.20
148          6.20         3.40          5.40
149          5.90         3.00          5.10

[150 rows x 3 columns]

In [21]:
df.duplicated() #to check if a particular row is a duplicate

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [22]:
df.duplicated().values

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False, False, False, False, False])

In [26]:
df.duplicated().sum()  #check the count of duplicates in the dataset

0

In [27]:
df.drop_duplicates(inplace = True) #drops the duplicates

In [28]:
df.duplicated().sum()

0